<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>func001</string>
		<key>ename</key>
		<string>Hydroxy group</string>
		<key>jname</key>
		<string>ヒドロキシ基</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func002</string>
		<key>ename</key>
		<string>Ether</string>
		<key>jname</key>
		<string>エーテル</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func003</string>
		<key>ename</key>
		<string>Carboxy group</string>
		<key>jname</key>
		<string>カルボキシ基</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func004</string>
		<key>ename</key>
		<string>Carboxylic acid</string>
		<key>jname</key>
		<string>カルボン酸</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func005</string>
		<key>ename</key>
		<string>Ester</string>
		<key>jname</key>
		<string>エステル</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func006</string>
		<key>ename</key>
		<string>Amine</string>
		<key>jname</key>
		<string>アミン</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func007</string>
		<key>ename</key>
		<string>Imine</string>
		<key>jname</key>
		<string>イミン</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func008</string>
		<key>ename</key>
		<string>Enamine</string>
		<key>jname</key>
		<string>エナミン</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func009</string>
		<key>ename</key>
		<string>Nitrile</string>
		<key>jname</key>
		<string>ニトリル</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func010</string>
		<key>ename</key>
		<string>Azide group</string>
		<key>jname</key>
		<string>アジ化物</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func011</string>
		<key>ename</key>
		<string>Diazo group</string>
		<key>jname</key>
		<string>ジアゾ化物</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func012</string>
		<key>ename</key>
		<string>Halide</string>
		<key>jname</key>
		<string>ハロゲン化物</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func013</string>
		<key>ename</key>
		<string>Allyl group</string>
		<key>jname</key>
		<string>アリル基</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func014</string>
		<key>ename</key>
		<string>Benzene</string>
		<key>jname</key>
		<string>ベンゼン環</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func015</string>
		<key>ename</key>
		<string>Thiol</string>
		<key>jname</key>
		<string>チオール</string>
	</dict>
	<dict>
		<key>id</key>
		<string>func016</string>
		<key>ename</key>
		<string>Aromatic</string>
		<key>jname</key>
		<string>芳香環</string>
	</dict>
</array>
</plist>
