<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>tag001</string>
		<key>ename</key>
		<string>Oxidation</string>
		<key>jname</key>
		<string>酸化反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag002</string>
		<key>ename</key>
		<string>Reduction</string>
		<key>jname</key>
		<string>還元反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag003</string>
		<key>ename</key>
		<string>Nucleophilic substitution</string>
		<key>jname</key>
		<string>求核置換反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag004</string>
		<key>ename</key>
		<string>Electrophilic substitution</string>
		<key>jname</key>
		<string>求電子置換反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag005</string>
		<key>ename</key>
		<string>Elimination</string>
		<key>jname</key>
		<string>脱離反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag006</string>
		<key>ename</key>
		<string>Nucleophilic addition</string>
		<key>jname</key>
		<string>求核付加反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag007</string>
		<key>ename</key>
		<string>Electrophilic addition</string>
		<key>jname</key>
		<string>求電子付加反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag008</string>
		<key>ename</key>
		<string>Rearrangement</string>
		<key>jname</key>
		<string>転位反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag009</string>
		<key>ename</key>
		<string>Cyclization</string>
		<key>jname</key>
		<string>環化反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag010</string>
		<key>ename</key>
		<string>Radical reaction</string>
		<key>jname</key>
		<string>ラジカル反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag011</string>
		<key>ename</key>
		<string>Condensation</string>
		<key>jname</key>
		<string>縮合反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag012</string>
		<key>ename</key>
		<string>Aldol eaction</string>
		<key>jname</key>
		<string>アルドール反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag013</string>
		<key>ename</key>
		<string>Conjugate addition</string>
		<key>jname</key>
		<string>共役付加</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag014</string>
		<key>ename</key>
		<string>Hydration</string>
		<key>jname</key>
		<string>水和反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag015</string>
		<key>ename</key>
		<string>Dehydration</string>
		<key>jname</key>
		<string>脱水反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag016</string>
		<key>ename</key>
		<string>Amination</string>
		<key>jname</key>
		<string>アミノ化</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag017</string>
		<key>ename</key>
		<string>Resonance structure</string>
		<key>jname</key>
		<string>共鳴構造</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag018</string>
		<key>ename</key>
		<string>Halogenation</string>
		<key>jname</key>
		<string>ハロゲン化</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag019</string>
		<key>ename</key>
		<string>Cleavage</string>
		<key>jname</key>
		<string>開裂反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag020</string>
		<key>ename</key>
		<string>Nucleophilic aromatic substitution</string>
		<key>jname</key>
		<string>芳香族求核置換反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag021</string>
		<key>ename</key>
		<string>Electrophilic aromatic substitution</string>
		<key>jname</key>
		<string>芳香族求電子置換反応</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tag022</string>
		<key>ename</key>
		<string>Alkylation</string>
		<key>jname</key>
		<string>アルキル化</string>
	</dict>
</array>
</plist>
