<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>r0001</string>
		<key>ename</key>
		<string>Reaction of 1,3-dithiane</string>
		<key>jname</key>
		<string>1,3-ジチアンの反応</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func015</string>
			<string>func021</string>
			<string>func025</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0002</string>
		<key>ename</key>
		<string>Dehydrochloration of Chlorocyclohexane</string>
		<key>jname</key>
		<string>Chlorocyclohexaneの脱HCl</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag005</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0003</string>
		<key>ename</key>
		<string>Anti-1,2-dihydroxylation of cis-alkene</string>
		<key>jname</key>
		<string>cisアルケンのアンチ1，2ジヒドロキシル化</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func017</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
			<string>tag019</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0004</string>
		<key>ename</key>
		<string>Synthesis of cis-alkene</string>
		<key>jname</key>
		<string>cis-アルケンの合成</string>
		<key>functionalAry</key>
		<array>
			<string>func022</string>
			<string>func023</string>
		</array>
		<key>tagAry</key>
		<array/>
	</dict>
	<dict>
		<key>id</key>
		<string>r0005</string>
		<key>ename</key>
		<string>Claisen-Schmidt reaction</string>
		<key>jname</key>
		<string>Claisen-Schmidt反応</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func024</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0006</string>
		<key>ename</key>
		<string>Claisen condensation</string>
		<key>jname</key>
		<string>Claisen縮合</string>
		<key>functionalAry</key>
		<array>
			<string>func005</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag012</string>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0007</string>
		<key>ename</key>
		<string>Claisen rearrangement</string>
		<key>jname</key>
		<string>Claisen転位</string>
		<key>functionalAry</key>
		<array>
			<string>func014</string>
			<string>func016</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag008</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0008</string>
		<key>ename</key>
		<string>Clemmensen reduction</string>
		<key>jname</key>
		<string>Clemmensen還元</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag002</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0009</string>
		<key>ename</key>
		<string>Cope elimination</string>
		<key>jname</key>
		<string>Cope脱離</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func006</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag005</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0010</string>
		<key>ename</key>
		<string>Curtius rearrangement</string>
		<key>jname</key>
		<string>Curtius転位</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func006</string>
			<string>func010</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag005</string>
			<string>tag006</string>
			<string>tag008</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0011</string>
		<key>ename</key>
		<string>Deals-Alder reaction</string>
		<key>jname</key>
		<string>Deals-Alder反応</string>
		<key>functionalAry</key>
		<array>
			<string>func022</string>
			<string>func023</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag009</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0012</string>
		<key>ename</key>
		<string>Stereochemistry of the Deals-Alder reaction</string>
		<key>jname</key>
		<string>Deals-Alder反応の立体化学</string>
		<key>functionalAry</key>
		<array>
			<string>func022</string>
			<string>func023</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag009</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0013</string>
		<key>ename</key>
		<string>Bromination of alcohol with phosphorus tribromide</string>
		<key>jname</key>
		<string>三臭化リンによるアルコールの臭素化</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func012</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
			<string>tag018</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0014</string>
		<key>ename</key>
		<string>Dieckmann condensation</string>
		<key>jname</key>
		<string>Dieckmann縮合</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func005</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag009</string>
			<string>tag011</string>
			<string>tag012</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0015</string>
		<key>ename</key>
		<string>Dow process</string>
		<key>jname</key>
		<string>Dow法</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func014</string>
			<string>func016</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag020</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0016</string>
		<key>ename</key>
		<string>Friedel-Crafts acylation</string>
		<key>jname</key>
		<string>Friedel-Crafts アシル化</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func014</string>
			<string>func016</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag021</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0017</string>
		<key>ename</key>
		<string>Friedel-Crafts alkylation</string>
		<key>jname</key>
		<string>Friedel-Crafts アルキル化</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func014</string>
			<string>func016</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag021</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0018</string>
		<key>ename</key>
		<string>Gabriel synthesis</string>
		<key>jname</key>
		<string>Gabriel合成法</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func006</string>
			<string>func014</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag016</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0019</string>
		<key>ename</key>
		<string>Grignard reaction</string>
		<key>jname</key>
		<string>Grignard反応</string>
		<key>functionalAry</key>
		<array>
			<string>func025</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0020</string>
		<key>ename</key>
		<string>Synthesis of carboxylic acid with the carboxylation of Grignard reagent</string>
		<key>jname</key>
		<string>Grignard試薬の炭酸化によるカルボン酸の合成</string>
		<key>functionalAry</key>
		<array>
			<string>func004</string>
			<string>func025</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0021</string>
		<key>ename</key>
		<string>Hofmann elimination</string>
		<key>jname</key>
		<string>Hofmann脱離</string>
		<key>functionalAry</key>
		<array>
			<string>func006</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag005</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0022</string>
		<key>ename</key>
		<string>Hofmann rearrangement</string>
		<key>jname</key>
		<string>Hofmann転位</string>
		<key>functionalAry</key>
		<array>
			<string>func006</string>
			<string>func018</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag008</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0023</string>
		<key>ename</key>
		<string>Abbreviations of functional groups</string>
		<key>jname</key>
		<string>官能基の略称</string>
		<key>functionalAry</key>
		<array/>
		<key>tagAry</key>
		<array/>
	</dict>
	<dict>
		<key>id</key>
		<string>r0024</string>
		<key>ename</key>
		<string>Jones oxidation</string>
		<key>jname</key>
		<string>Jones酸化</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func003</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag001</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0025</string>
		<key>ename</key>
		<string>Knoevenagel condensation</string>
		<key>jname</key>
		<string>Knoevenagel縮合</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag011</string>
			<string>tag012</string>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0026</string>
		<key>ename</key>
		<string>Kolbe reaction</string>
		<key>jname</key>
		<string>kolbe反応</string>
		<key>functionalAry</key>
		<array>
			<string>func004</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag021</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0027</string>
		<key>ename</key>
		<string>Reduction of aldehyde with LAH</string>
		<key>jname</key>
		<string>LAHによるアルデヒドの還元</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func026</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag002</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0029</string>
		<key>ename</key>
		<string>Claisen condensation with LDA</string>
		<key>jname</key>
		<string>LDAによるClaisen縮合</string>
		<key>functionalAry</key>
		<array>
			<string>func005</string>
			<string>func006</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag011</string>
			<string>tag01</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0030</string>
		<key>ename</key>
		<string>Mannich reaction</string>
		<key>jname</key>
		<string>Mannich反応</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func006</string>
			<string>func007</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0031</string>
		<key>ename</key>
		<string>Markovnikov rule</string>
		<key>jname</key>
		<string>markovnikov則</string>
		<key>functionalAry</key>
		<array>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag007</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0032</string>
		<key>ename</key>
		<string>Michael addition</string>
		<key>jname</key>
		<string>Michael付加</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag013</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0033</string>
		<key>ename</key>
		<string>Resonance structure of meta orientation</string>
		<key>jname</key>
		<string>m配向性の共鳴構造</string>
		<key>functionalAry</key>
		<array>
			<string>func014</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0034</string>
		<key>ename</key>
		<string>Resonance structure of ortho,para orientation 1</string>
		<key>jname</key>
		<string>o,p配向性の共鳴構造１</string>
		<key>functionalAry</key>
		<array>
			<string>func014</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0035</string>
		<key>ename</key>
		<string>Resonance structure of ortho,para orientation 2</string>
		<key>jname</key>
		<string>o,p配向性の共鳴構造２</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0036</string>
		<key>ename</key>
		<string>Oxidation of a primary alcohol with PCC</string>
		<key>jname</key>
		<string>PCCによる第一級アルコールの酸化</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func003</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag001</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0037</string>
		<key>ename</key>
		<string>Synthesis of p-nitrobenzoic acid</string>
		<key>jname</key>
		<string>p-ニトロ安息香酸の合成</string>
		<key>functionalAry</key>
		<array>
			<string>func004</string>
			<string>func014</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag001</string>
			<string>tag021</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0038</string>
		<key>ename</key>
		<string>Desulfurization of thioacetal with Raney Ni</string>
		<key>jname</key>
		<string>RaneyNiによるチオアセタールの脱硫反応</string>
		<key>functionalAry</key>
		<array>
			<string>func015</string>
			<string>func019</string>
			<string>func021</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag002</string>
			<string>tag022</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0039</string>
		<key>ename</key>
		<string>Robinson annulation</string>
		<key>jname</key>
		<string>Robinson環化反応</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func024</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag009</string>
			<string>tag012</string>
			<string>tag013</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0040</string>
		<key>ename</key>
		<string>Sandmeyer synthesis</string>
		<key>jname</key>
		<string>Sandmeyer反応</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
			<string>func014</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag020</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0041</string>
		<key>ename</key>
		<string>Schell process</string>
		<key>jname</key>
		<string>Schell法</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
			<string>func013</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag010</string>
			<string>tag018</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0042</string>
		<key>ename</key>
		<string>Rivalry of SN1 reaction and E1 reaction</string>
		<key>jname</key>
		<string>SN1反応とE1反応の競合</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
			<string>tag005</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0043</string>
		<key>ename</key>
		<string>Rivalry of SN2 reaction and E2reaction</string>
		<key>jname</key>
		<string>SN2反応とE2反応の競合</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
			<string>tag005</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0044</string>
		<key>ename</key>
		<string>Michael addition for a compound of acetylene</string>
		<key>jname</key>
		<string>アセチレン化合物へのMichael付加</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func005</string>
			<string>func023</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag013</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0045</string>
		<key>ename</key>
		<string>Stork&apos;s enamine reaction</string>
		<key>jname</key>
		<string>Storkのエナミン反応</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func008</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0046</string>
		<key>ename</key>
		<string>Synthesis of thiol from thioirea</string>
		<key>jname</key>
		<string>thioireaからのチオールの合成</string>
		<key>functionalAry</key>
		<array>
			<string>func015</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0047</string>
		<key>ename</key>
		<string>Tollens reagent</string>
		<key>jname</key>
		<string>Tollens試験</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func004</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag001</string>
			<string>tag002</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0048</string>
		<key>ename</key>
		<string>anti-1,2-dihydroxylation of trans-alkene</string>
		<key>jname</key>
		<string>transアルケンのアンチ1，2ジヒドロキシル化</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func017</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
			<string>tag019</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0049</string>
		<key>ename</key>
		<string>Synthesis of trans-alkene</string>
		<key>jname</key>
		<string>trans-アルケンの合成法</string>
		<key>functionalAry</key>
		<array>
			<string>func022</string>
			<string>func023</string>
		</array>
		<key>tagAry</key>
		<array/>
	</dict>
	<dict>
		<key>id</key>
		<string>r0050</string>
		<key>ename</key>
		<string>Williamson synthesis</string>
		<key>jname</key>
		<string>Williamson合成</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func002</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0051</string>
		<key>ename</key>
		<string>Wittig reaction</string>
		<key>jname</key>
		<string>Wittig反応</string>
		<key>functionalAry</key>
		<array>
			<string>func006</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array/>
	</dict>
	<dict>
		<key>id</key>
		<string>r0052</string>
		<key>ename</key>
		<string>Acylation of β-keto ester</string>
		<key>jname</key>
		<string>β-ケトエステルのアシル化</string>
		<key>functionalAry</key>
		<array>
			<string>func006</string>
			<string>func005</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
			<string>tag005</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0053</string>
		<key>ename</key>
		<string>Synthesis of amine with azide</string>
		<key>jname</key>
		<string>アジ化物イオンによるアミンの合成</string>
		<key>functionalAry</key>
		<array>
			<string>func006</string>
			<string>func010</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag005</string>
			<string>tag022</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0054</string>
		<key>ename</key>
		<string>Invertion of amine</string>
		<key>jname</key>
		<string>アミンの窒素反転</string>
		<key>functionalAry</key>
		<array>
			<string>func006</string>
		</array>
		<key>tagAry</key>
		<array/>
	</dict>
	<dict>
		<key>id</key>
		<string>r0055</string>
		<key>ename</key>
		<string>Reduction of amide</string>
		<key>jname</key>
		<string>アミドの還元</string>
		<key>functionalAry</key>
		<array>
			<string>func006</string>
			<string>func018</string>
			<string>func026</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag002</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0056</string>
		<key>ename</key>
		<string>Resonance of amide</string>
		<key>jname</key>
		<string>アミドの共鳴</string>
		<key>functionalAry</key>
		<array>
			<string>func018</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0057</string>
		<key>ename</key>
		<string>Synthesis of nitrile accompanying dehydration of amide</string>
		<key>jname</key>
		<string>アミドの脱水によるニトリルの合成</string>
		<key>functionalAry</key>
		<array>
			<string>func018</string>
			<string>func009</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag015</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0058</string>
		<key>ename</key>
		<string>Reaction of amine and ester</string>
		<key>jname</key>
		<string>アミンとエステルとの反応</string>
		<key>functionalAry</key>
		<array>
			<string>func005</string>
			<string>func006</string>
			<string>func018</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0059</string>
		<key>ename</key>
		<string>Reaction of amine and a carboxylic anhydride</string>
		<key>jname</key>
		<string>アミンとカルボン酸無水物との反応</string>
		<key>functionalAry</key>
		<array>
			<string>func004</string>
			<string>func006</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0060</string>
		<key>ename</key>
		<string>Acylation of amine</string>
		<key>jname</key>
		<string>アミンのアシル化</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func006</string>
			<string>func018</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0061</string>
		<key>ename</key>
		<string>Oxidation of amine</string>
		<key>jname</key>
		<string>アミンの酸化</string>
		<key>functionalAry</key>
		<array>
			<string>func006</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag001</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0062</string>
		<key>ename</key>
		<string>An allyl anion</string>
		<key>jname</key>
		<string>アリルアニオン</string>
		<key>functionalAry</key>
		<array>
			<string>func013</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0063</string>
		<key>ename</key>
		<string>An allyl cation</string>
		<key>jname</key>
		<string>アリルカチオン</string>
		<key>functionalAry</key>
		<array>
			<string>func013</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0064</string>
		<key>ename</key>
		<string>An allyl radical</string>
		<key>jname</key>
		<string>アリルラジカル</string>
		<key>functionalAry</key>
		<array>
			<string>func013</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag017</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0065</string>
		<key>ename</key>
		<string>Radical reaction for alkane</string>
		<key>jname</key>
		<string>アルカンへのラジカル反応</string>
		<key>functionalAry</key>
		<array>
			<string>func019</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag010</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0066</string>
		<key>ename</key>
		<string>Clevage of alkylphenyl ether</string>
		<key>jname</key>
		<string>アルキルフェニルエーテルの開裂</string>
		<key>functionalAry</key>
		<array>
			<string>func002</string>
			<string>func014</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag003</string>
			<string>tag019</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0067</string>
		<key>ename</key>
		<string>Oxidative clevage of alkyne</string>
		<key>jname</key>
		<string>アルキンの酸化的開裂</string>
		<key>functionalAry</key>
		<array>
			<string>func023</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag019</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0068</string>
		<key>ename</key>
		<string>Hydrogenation of alkyne</string>
		<key>jname</key>
		<string>アルキンの水素化</string>
		<key>functionalAry</key>
		<array/>
		<key>tagAry</key>
		<array/>
	</dict>
	<dict>
		<key>id</key>
		<string>r0069</string>
		<key>ename</key>
		<string>Addition of hydrogen haride for alkyne and formation of gem-diharogenation</string>
		<key>jname</key>
		<string>アルキンへのハロゲン化水素付加とgem-ジハロゲン化物の生成</string>
		<key>functionalAry</key>
		<array>
			<string>func023</string>
			<string>func012</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag007</string>
			<string>tag018</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0070</string>
		<key>ename</key>
		<string>Addition of chlorine or brorine for alkyne</string>
		<key>jname</key>
		<string>アルキンへの塩素、臭素付加</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
			<string>func023</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag007</string>
			<string>tag018</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0071</string>
		<key>ename</key>
		<string>Addition of water for alkyne</string>
		<key>jname</key>
		<string>アルキンへの水の付加</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func023</string>
			<string>func024</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag007</string>
			<string>tag014</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0072</string>
		<key>ename</key>
		<string>Synthesis of alkene and potassium permanganate</string>
		<key>jname</key>
		<string>アルケンと過マンガン酸カリウムとの反応</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func003</string>
			<string>func004</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag001</string>
			<string>tag019</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0073</string>
		<key>ename</key>
		<string>Oxidative clevage of alkene and ozonolysis</string>
		<key>jname</key>
		<string>アルケンの酸化的開裂とオゾン分解</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func004</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag001</string>
			<string>tag019</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0074</string>
		<key>ename</key>
		<string>Substitution reaction of alkene</string>
		<key>jname</key>
		<string>アルケンの置換反応</string>
		<key>functionalAry</key>
		<array>
			<string>func013</string>
			<string>func012</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag017</string>
			<string>tag010</string>
			<string>tag018</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0075</string>
		<key>ename</key>
		<string>Electrophilic additional reaction of Cl or Br for alkene 1</string>
		<key>jname</key>
		<string>アルケンへのBr,Clの求電子付加その１</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag007</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0076</string>
		<key>ename</key>
		<string>Electrophilic additional reaction of Cl or Br for alkene 2</string>
		<key>jname</key>
		<string>アルケンへのBr,Clの求電子付加その２</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag007</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0077</string>
		<key>ename</key>
		<string>Radical additional reaction for alkene</string>
		<key>jname</key>
		<string>アルケンへのラジカル付加</string>
		<key>functionalAry</key>
		<array>
			<string>func012</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag010</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0078</string>
		<key>ename</key>
		<string>Condensation of aldehyde and nitrile</string>
		<key>jname</key>
		<string>アルデヒドとニトリルとの縮合</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func009</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag011</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0079</string>
		<key>ename</key>
		<string>Condensation of aldehyde and nitroalkane</string>
		<key>jname</key>
		<string>アルデヒドとニトロアルカンとの縮合</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag011</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0080</string>
		<key>ename</key>
		<string>Reduction of aldehyde</string>
		<key>jname</key>
		<string>アルデヒドの還元</string>
		<key>functionalAry</key>
		<array>
			<string>func001</string>
			<string>func003</string>
			<string>func026</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag002</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0081</string>
		<key>ename</key>
		<string>Aldol cyclization reaction</string>
		<key>jname</key>
		<string>アルドール環化反応</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag009</string>
			<string>tag012</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>r0082</string>
		<key>ename</key>
		<string>Aldol reaction</string>
		<key>jname</key>
		<string>アルドール反応</string>
		<key>functionalAry</key>
		<array>
			<string>func003</string>
			<string>func022</string>
		</array>
		<key>tagAry</key>
		<array>
			<string>tag006</string>
			<string>tag012</string>
		</array>
	</dict>
</array>
</plist>
